#carousel1 .splide__pagination,
#carousel1 .splide__arrow {
    display: none;
}

@media screen and (min-width: 1350px) {

    /* Home Banner */
    .homebanner {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .homebanner video,
    .homebanner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(50%);
        z-index: 1;
    }

    .homebanner .homebannerct {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .homebannerct h1 {
        color: var(--secondary);
        width: 65%;
        margin: 0px auto 20px auto;
        font-size: 60px;
        font-weight: 800;
        text-align: center;
    }

    .homebannerct h6 {
        color: var(--secondary);
        width: 70%;
        margin: 0px auto 20px auto;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 25px;
    }

    /* Choose */
    .choose {
        width: 100%;
        background-color: var(--bg);
        padding: 50px 0px;
    }

    .choosediv {
        width: 95%;
        margin: auto;
    }

    #carousel1 {
        margin-top: 50px;
    }

    #carousel1 .choose-content {
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 30px 15px;
        box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid var(--light);
        border-radius: 5px;
    }

    #carousel1 .carousel-img {
        margin-bottom: 20px;
    }

    #carousel1 .carousel-content h5 {
        color: var(--text-primary);
        font-size: 18px;
        font-weight: 550;
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h6 {
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 0px;
    }

    /* Main Features */
    .mainfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 75px;
    }

    .mainfeaturesdiv {
        width: 90%;
        margin: auto;
    }

    .mainfeatures_1 {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .mainfeatures-content .mainfeatures-ct {
        width: 70%;
        margin: auto;
    }

    .mainfeatures-content h5 {
        color: var(--text-tertiary);
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .mainfeatures-content h1 {
        color: var(--text-primary);
        width: 85%;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .mainfeatures-content h6 {
        color: var(--text-secondary);
        width: 100%;
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
    }

    .mainfeatures-one {
        background: url('../../assets/images/home/One.png') top left no-repeat;
        background-size: 200px;
    }

    .mainfeatures-two {
        background: url('../../assets/images/home/Two.png') top left no-repeat;
        background-size: 200px;
    }

    .mainfeatures-three {
        background: url('../../assets/images/home/Three.png') top left no-repeat;
        background-size: 200px;
    }

    /* Who We Are */
    .whoweare {
        width: 100%;
        margin-top: 75px;
        background: url('../../assets/images/home/Home_BG_2.png') center center no-repeat;
        background-size: cover;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whowearediv {
        width: 90%;
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
        justify-content: space-between;
    }

    .whowearevideo video {
        width: 90%;
        height: 100%;
    }

    .whowearect h3 {
        color: var(--secondary);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }

    .whowearect h6 {
        color: var(--secondary);
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        line-height: 25px;
    }

    /* Key Features */
    .keyfeatures {
        background-color: var(--secondary);
        margin-top: 75px;
    }

    .keyfeaturesdiv {
        width: 90%;
        margin: auto;
    }

    .card-main {
        display: grid;
        grid-template-columns: 60% 38%;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-item {
        background-color: transparent;
        margin-bottom: 15px;
        border: none;
        border-left: 2px solid var(--primary) !important;
        border-radius: 0px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-button {
        background-color: transparent;
        font-size: 18px;
        font-weight: 700;
        color: var(--primary);
        padding: 8px 15px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-body h6 {
        font-size: 15px;
        font-weight: 400;
        color: var(--text-secondary);
    }

    .card-main .card-left .accordion-button::after {
        background-image: none;
    }

    .card-main .card-left .accordion-button:not(.collapsed) {
        color: var(--text-primary);
        box-shadow: none;
    }

    /* Sub Features */
    .subfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 75px;
    }

    .subfeaturesdiv {
        width: 90%;
        margin: auto;
    }

    .cards-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    .cards-div .cards-ct {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin: 0px auto 30px auto;
    }

    .cards-ct img {
        height: 50px;
        width: 50px;
        margin: 0px auto 20px auto;
    }

    .cards-ct h5 {
        color: var(--primary);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        text-align: center;
    }

    .cards-ct h6 {
        color: var(--text-secondary);
        font-size: 15px;
        font-weight: 450;
        text-align: center;
        line-height: 23px;
    }

    /* App */
    .app {
        width: 100%;
        margin-top: 50px;
        background: url('../../assets/images/home/Home_BG_4.png') center center no-repeat;
        background-size: cover;
    }

    .appdiv {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 40% 25%;
        align-items: center;
        justify-content: space-between;
    }

    .downloadct h5 {
        color: var(--text-primary);
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .downloadct h6 {
        color: var(--text-secondary);
        font-size: 15px;
        font-weight: 450;
        margin-bottom: 25px;
    }

    .qr h6 {
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 700;
    }

}

@media screen and (min-width: 1098px) and (max-width: 1350px) {

    /* Home Banner */
    .homebanner {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .homebanner video,
    .homebanner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(50%);
        z-index: 1;
    }

    .homebanner .homebannerct {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .homebannerct h1 {
        color: var(--secondary);
        width: 80%;
        margin: 0px auto 20px auto;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
    }

    .homebannerct h6 {
        color: var(--secondary);
        width: 75%;
        margin: 0px auto 20px auto;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 25px;
    }

    /* Choose */
    .choose {
        width: 100%;
        background-color: var(--bg);
        padding: 30px 0px;
    }

    .choosediv {
        width: 95%;
        margin: auto;
    }

    #carousel1 {
        margin-top: 30px;
    }

    #carousel1 .choose-content {
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 25px 15px;
        box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid var(--light);
        border-radius: 5px;
    }

    #carousel1 .carousel-img {
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h5 {
        color: var(--text-primary);
        font-size: 16px;
        font-weight: 550;
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h6 {
        color: var(--text-secondary);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0px;
    }

    /* Main Features */
    .mainfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 60px;
    }

    .mainfeaturesdiv {
        width: 90%;
        margin: auto;
    }

    .mainfeatures_1 {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .mainfeatures-content .mainfeatures-ct {
        width: 70%;
        margin: auto;
    }

    .mainfeatures-content h5 {
        color: var(--text-tertiary);
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .mainfeatures-content h1 {
        color: var(--text-primary);
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .mainfeatures-content h6 {
        color: var(--text-secondary);
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
    }

    .mainfeatures-one {
        background: url('../../assets/images/home/One.png') top left no-repeat;
        background-size: 200px;
    }

    .mainfeatures-two {
        background: url('../../assets/images/home/Two.png') top left no-repeat;
        background-size: 200px;
    }

    .mainfeatures-three {
        background: url('../../assets/images/home/Three.png') top left no-repeat;
        background-size: 200px;
    }

    /* Who We Are */
    .whoweare {
        width: 100%;
        margin-top: 60px;
        background: url('../../assets/images/home/Home_BG_2.png') center center no-repeat;
        background-size: cover;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whowearediv {
        width: 90%;
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
        justify-content: space-between;
    }

    .whowearevideo video {
        width: 90%;
        height: 100%;
    }

    .whowearect h3 {
        color: var(--secondary);
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }

    .whowearect h6 {
        color: var(--secondary);
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        line-height: 23px;
    }

    /* Key Features */
    .keyfeatures {
        background-color: var(--secondary);
        margin-top: 60px;
    }

    .keyfeaturesdiv {
        width: 90%;
        margin: auto;
    }

    .card-main {
        display: grid;
        grid-template-columns: 58% 40%;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-item {
        background-color: transparent;
        margin-bottom: 15px;
        border: none;
        border-left: 2px solid var(--primary) !important;
        border-radius: 0px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-button {
        background-color: transparent;
        font-size: 16px;
        font-weight: 700;
        color: var(--primary);
        padding: 5px 15px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-body h6 {
        font-size: 13px;
        font-weight: 400;
        color: var(--text-secondary);
    }

    .card-main .card-left .accordion-button::after {
        background-image: none;
    }

    .card-main .card-left .accordion-button:not(.collapsed) {
        color: var(--text-primary);
        box-shadow: none;
    }

    /* Sub Features */
    .subfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 60px;
    }

    .subfeaturesdiv {
        width: 90%;
        margin: auto;
    }

    .cards-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .cards-div .cards-ct {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin: 0px auto 30px auto;
    }

    .cards-ct img {
        height: 50px;
        width: 50px;
        margin: 0px auto 20px auto;
    }

    .cards-ct h5 {
        color: var(--primary);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        text-align: center;
    }

    .cards-ct h6 {
        color: var(--text-secondary);
        font-size: 13px;
        font-weight: 450;
        text-align: center;
        line-height: 23px;
    }

    /* App */
    .app {
        width: 100%;
        margin-top: 30px;
        background: url('../../assets/images/home/Home_BG_4.png') center center no-repeat;
        background-size: cover;
    }

    .appdiv {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 40% 25%;
        align-items: center;
        justify-content: space-between;
    }

    .downloadct h5 {
        color: var(--text-primary);
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .downloadct h6 {
        color: var(--text-secondary);
        font-size: 13px;
        font-weight: 450;
        margin-bottom: 25px;
    }

    .qr h6 {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 700;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    /* Home Banner */
    .homebanner {
        height: 775px;
        width: 100%;
        position: relative;
    }

    .homebanner video,
    .homebanner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(50%);
        z-index: 1;
    }

    .homebanner .homebannerct {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .homebannerct h1 {
        color: var(--secondary);
        width: 100%;
        margin: 0px auto 20px auto;
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }

    .homebannerct h6 {
        color: var(--secondary);
        width: 95%;
        margin: 0px auto 20px auto;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 25px;
    }

    /* Choose */
    .choose {
        width: 100%;
        background-color: var(--bg);
        padding: 30px 0px;
    }

    .choosediv {
        width: 95%;
        margin: auto;
    }

    #carousel1 {
        margin-top: 30px;
    }

    #carousel1 .choose-content {
        width: 95%;
        height: 100%;
        margin: auto;
        padding: 20px 15px;
        box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid var(--light);
        border-radius: 5px;
    }

    #carousel1 .carousel-img {
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h5 {
        color: var(--text-primary);
        font-size: 15px;
        font-weight: 550;
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0px;
    }

    /* Main Features */
    .mainfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 60px;
    }

    .mainfeaturesdiv {
        width: 95%;
        margin: auto;
    }

    .mainfeatures_1 {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .mainfeatures-content .mainfeatures-ct {
        width: 90%;
        margin: auto;
    }

    .mainfeatures-content h5 {
        color: var(--text-tertiary);
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 7px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .mainfeatures-content h1 {
        color: var(--text-primary);
        width: 100%;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 7px;
    }

    .mainfeatures-content h6 {
        color: var(--text-secondary);
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }

    .mainfeatures-one {
        background: url('../../assets/images/home/One.png') top left no-repeat;
        background-size: 150px;
    }

    .mainfeatures-two {
        background: url('../../assets/images/home/Two.png') top left no-repeat;
        background-size: 150px;
    }

    .mainfeatures-three {
        background: url('../../assets/images/home/Three.png') top left no-repeat;
        background-size: 150px;
    }

    /* Who We Are */
    .whoweare {
        width: 100%;
        margin-top: 40px;
        background: url('../../assets/images/home/Home_BG_2.png') center center no-repeat;
        background-size: cover;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whowearediv {
        width: 95%;
        display: grid;
        grid-template-columns: 45% 45%;
        align-items: center;
        justify-content: space-between;
    }

    .whowearevideo video {
        width: 95%;
        height: 100%;
    }

    .whowearect h3 {
        color: var(--secondary);
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }

    .whowearect h6 {
        color: var(--secondary);
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
    }

    /* Key Features */
    .keyfeatures {
        background-color: var(--secondary);
        margin-top: 40px;
    }

    .keyfeaturesdiv {
        width: 95%;
        margin: auto;
    }

    .card-main {
        display: grid;
        grid-template-columns: 58% 40%;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-item {
        background-color: transparent;
        margin-bottom: 10px;
        border: none;
        border-left: 2px solid var(--primary) !important;
        border-radius: 0px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-button {
        background-color: transparent;
        font-size: 14px;
        font-weight: 700;
        color: var(--primary);
        padding: 3px 10px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-body h6 {
        font-size: 12px;
        font-weight: 400;
        color: var(--text-secondary);
    }

    .card-main .card-left .accordion-button::after {
        background-image: none;
    }

    .card-main .card-left .accordion-button:not(.collapsed) {
        color: var(--text-primary);
        box-shadow: none;
    }

    /* Sub Features */
    .subfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 40px;
    }

    .subfeaturesdiv {
        width: 95%;
        margin: auto;
    }

    .cards-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .cards-div .cards-ct {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        width: 95%;
        margin: 0px auto 30px auto;
    }

    .cards-ct img {
        height: 40px;
        width: 40px;
        margin: 0px auto 20px auto;
    }

    .cards-ct h5 {
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
    }

    .cards-ct h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 450;
        text-align: center;
        line-height: 20px;
    }

    /* App */
    .app {
        width: 100%;
        margin-top: 20px;
        background: url('../../assets/images/home/Home_BG_4.png') center center no-repeat;
        background-size: cover;
    }

    .appdiv {
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 40% 25%;
        align-items: center;
        justify-content: space-between;
    }

    .downloadct h5 {
        color: var(--text-primary);
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .downloadct h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 450;
        margin-bottom: 15px;
    }

    .downloadct img {
        height: 40px !important;
    }

    .qr h6 {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 700;
    }

}

@media screen and (max-width: 767px) {

    /* Home Banner */
    .homebanner {
        height: 775px;
        width: 100%;
        position: relative;
    }

    .homebanner video,
    .homebanner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(50%);
        z-index: 1;
    }

    .homebanner .homebannerct {
        width: 95%;
        margin: auto;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .homebannerct h1 {
        color: var(--secondary);
        width: 100%;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: 800;
        text-align: center;
    }

    .homebannerct h6 {
        color: var(--secondary);
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
    }

    /* Choose */
    .choose {
        width: 100%;
        background-color: var(--bg);
        padding: 30px 0px;
    }

    .choosediv {
        width: 95%;
        margin: auto;
    }

    #carousel1 {
        margin-top: 30px;
    }

    #carousel1 .choose-content {
        width: 95%;
        height: 100%;
        margin: auto;
        padding: 20px 15px;
        box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.05);
        border: 1px solid var(--light);
        border-radius: 5px;
    }

    #carousel1 .carousel-img {
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h5 {
        color: var(--text-primary);
        font-size: 15px;
        font-weight: 550;
        margin-bottom: 15px;
    }

    #carousel1 .carousel-content h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0px;
    }

    /* Main Features */
    .mainfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 60px;
    }

    .mainfeaturesdiv {
        width: 95%;
        margin: auto;
    }

    .mainfeatures_1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }

    .mainfeatures_1 .mainfeatures-img img {
        width: 90% !important;
        display: flex;
        margin: auto !important;
    }

    .mainfeatures-content .mainfeatures-ct {
        width: 90%;
        margin: auto;
    }

    .mainfeatures-content h5 {
        color: var(--text-tertiary);
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 7px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .mainfeatures-content h1 {
        color: var(--text-primary);
        width: 100%;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 7px;
    }

    .mainfeatures-content h6 {
        color: var(--text-secondary);
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }

    .mainfeatures-one {
        background: url('../../assets/images/home/One.png') top left no-repeat;
        background-size: 150px;
    }

    .mainfeatures-two {
        background: url('../../assets/images/home/Two.png') top left no-repeat;
        background-size: 150px;
    }

    .mainfeatures-three {
        background: url('../../assets/images/home/Three.png') top left no-repeat;
        background-size: 150px;
    }

    /* Who We Are */
    .whoweare {
        width: 100%;
        margin-top: 40px;
        background: url('../../assets/images/home/Home_BG_2.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0px;
    }

    .whowearediv {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .whowearevideo video {
        width: 100%;
        height: 100%;
    }

    .whowearect h3 {
        color: var(--secondary);
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }

    .whowearect h6 {
        color: var(--secondary);
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
    }

    /* Key Features */
    .keyfeatures {
        background-color: var(--secondary);
        margin-top: 40px;
    }

    .keyfeaturesdiv {
        width: 95%;
        margin: auto;
    }

    .card-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-item {
        background-color: transparent;
        margin-bottom: 10px;
        border: none;
        border-left: 2px solid var(--primary) !important;
        border-radius: 0px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-button {
        background-color: transparent;
        font-size: 14px;
        font-weight: 700;
        color: var(--primary);
        padding: 3px 10px;
    }

    .card-main .card-left .card-main-ct .accordion .accordion-body h6 {
        font-size: 12px;
        font-weight: 400;
        color: var(--text-secondary);
    }

    .card-main .card-left .accordion-button::after {
        background-image: none;
    }

    .card-main .card-left .accordion-button:not(.collapsed) {
        color: var(--text-primary);
        box-shadow: none;
    }

    /* Sub Features */
    .subfeatures {
        width: 100%;
        background-color: var(--secondary);
        margin-top: 40px;
    }

    .subfeaturesdiv {
        width: 95%;
        margin: auto;
    }

    .cards-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .cards-div .cards-ct {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        width: 95%;
        margin: 0px auto 30px auto;
    }

    .cards-ct img {
        height: 40px;
        width: 40px;
        margin: 0px auto 20px auto;
    }

    .cards-ct h5 {
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
    }

    .cards-ct h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 450;
        text-align: center;
        line-height: 20px;
    }

    /* App */
    .app {
        width: 100%;
        margin-top: 20px;
        background: url('../../assets/images/home/Home_BG_4.png') center center no-repeat;
        background-size: cover;
    }

    .appdiv {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .mockup img {
        display: flex;
        margin: auto;
    }

    .downloadct h5 {
        color: var(--text-primary);
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .downloadct h6 {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 450;
        margin-bottom: 15px;
    }

    .downloadct img {
        height: 40px !important;
    }

    .qr img {
        width: 50%;
        margin-bottom: 10px;
    }

    .qr h6 {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 700;
    }

}