.homebannerbtn:hover,
.cardsbtn:hover {
    background-color: var(--secondary);
    color: var(--main);
    transition: var(--transition);
}

.modalbtn:hover {
    background-color: var(--secondary);
    color: var(--main);
    transition: var(--transition);
}

.contactbtn:hover {
    background-color: var(--secondary);
    color: var(--primary);
    transition: var(--transition);
}

@media screen and (min-width: 1098px) {

    /* Home Banner Btn */
    .homebannerbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 15px;
        font-weight: 500;
        border: 1px solid var(--main);
        padding: 8px 25px;
        border-radius: 20px;
        letter-spacing: 0.5px;
    }

    /* Modal Button */
    .modalbtn {
        background-color: var(--main);
        color: var(--secondary);
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid var(--main);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Contact Button */
    .contactbtn {
        background-color: var(--primary);
        color: var(--secondary);
        padding: 8px 40px;
        font-size: 15px;
        font-weight: 450;
        border: 1px solid var(--primary);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Cards Button */
    .cardsbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 15px;
        font-weight: 450;
        border: 1px solid var(--main);
        padding: 5px 25px;
        border-radius: 5px;
        letter-spacing: 0.5px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    /* Home Banner Btn */
    .homebannerbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 13px;
        font-weight: 500;
        border: 1px solid var(--main);
        padding: 5px 20px;
        border-radius: 20px;
        letter-spacing: 0.5px;
    }

    /* Modal Button */
    .modalbtn {
        background-color: var(--main);
        color: var(--secondary);
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid var(--main);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Contact Button */
    .contactbtn {
        background-color: var(--primary);
        color: var(--secondary);
        padding: 6px 30px;
        font-size: 14px;
        font-weight: 450;
        border: 1px solid var(--primary);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Cards Btn */
    .cardsbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 13px;
        font-weight: 450;
        border: 1px solid var(--main);
        padding: 5px 20px;
        border-radius: 5px;
        letter-spacing: 0.5px;
    }

}

@media screen and (max-width: 767px) {

    /* Home Banner Btn */
    .homebannerbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 13px;
        font-weight: 500;
        border: 1px solid var(--main);
        padding: 5px 20px;
        border-radius: 20px;
        letter-spacing: 0.5px;
    }

    /* Modal Button */
    .modalbtn {
        background-color: var(--main);
        color: var(--secondary);
        padding: 5px 30px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid var(--main);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Contact Button */
    .contactbtn {
        background-color: var(--primary);
        color: var(--secondary);
        padding: 5px 30px;
        font-size: 14px;
        font-weight: 450;
        border: 1px solid var(--primary);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    /* Cards Btn */
    .cardsbtn {
        background-color: var(--main);
        color: var(--secondary);
        font-size: 13px;
        font-weight: 450;
        border: 1px solid var(--main);
        padding: 5px 20px;
        border-radius: 5px;
        letter-spacing: 0.5px;
    }

}